/* body, html {
  height: 100%;
} */

.bg {
  /* The image used */
  background-image: url("https://i.imgur.com/iWBk7rH.jpg");

  /* Full height */
  background-attachment: fixed;
  background-size: cover;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
